.DS_Store
.pytest_cache
venv
__pycache__
node_modules/
*.webm
*.mp4

.env
.env.production
.secrets
config.json
secrets.json
envBotData.ts
*.log

**/.next/
/src/bots/screenshot.pngsrc/terraform/terraform.tfstate.d/
test-local.env